
{#    <table class="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>#}
{#                Scene number#}
{#            </th>#}
{#            <th>#}
{#                Internal/External#}
{#            </th>#}
{#            <th>#}
{#                Type of location#}
{#            </th>#}
{#            <th>#}
{#                Time of day#}
{#            </th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for record in records %}#}
{#        <tr>#}
{#            <td>#}
{#                {{ record. }}#}
{#            </td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
    {% block content %}
    <html>{{ data }}</html>
    {% endblock %}
