{% extends 'bootstrap/base.html' %}
{% block title %}
    Your Script Bash:
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-10">
               <h1>Your Script Bash:</h1>
               <br>
               {{ data }}
               <br>
               <br>
               <a class="btn btn-primary" href="index" role="button">Back to the start</a>
               <br>
               <br>

        {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}

